<header class="site-header">
  <nav class="site-header__nav">
    <ul class="site-header__list">
      <li class="site-header__item">
        <a href="/" class="site-header__link" data-path="/">Home</a>
      </li>
      <li class="site-header__item">
        <a href="/about" class="site-header__link" data-path="/about">About</a>
      </li>
      <li class="site-header__item">
        <a href="/gallery" class="site-header__link" data-path="/gallery">Gallery</a>
      </li>
      <li class="site-header__item">
        <a href="/contact" class="site-header__link" data-path="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
